<%= form_with(model: no_due, local: true) do |form| %>
  <% if no_due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(no_due.errors.count, "error") %> prohibited this no_due from being saved:</h2>

      <ul>
      <% no_due.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :academic_session_id %>
    <%= form.text_field :academic_session_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <br>
    <% Subject.pluck(:name).each do |subject| %>
      <%= form.check_box :subject_ids, { multiple: true }, subject, false %>
      <%= subject %>
      <br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Create NO_DUES", class: "btn btn-primary" %>
    <%= link_to "Back", :back, class: 'btn btn-primary' %>
  </div>
<% end %>
