<div class="container">
  <%= form_with(model: subject, local: true) do |form| %>
    <% if subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

        <ul>
        <% subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :code %>
      <%= form.text_field :code, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :faculty %>
      <%= form.text_field :faculty, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :academic_session_id %>
      <%= form.text_field :academic_session_id, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>